body{
    background-color: rgb(244, 245, 250);
    color: rgb(5, 5, 5);
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid rgb(1, 1, 20);
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(233, 231, 231);
}